{% load staticfiles %}
{% include 'home/header.html'%}

<h1 class="text-center" style="overflow-y:hidden;">New Posts</h1>
    <div class="container">
		<div class="container">
			<div class="container">
				<div class="container ">
		
					{% block content %}  
						<h3 class="text-center"><b>{{post.title}}</b></h3>
						<br>
						<h6><b>Published On:</b>{{post.date}}</h6>
						<p>{{post.body|safe|linebreaks}}</p>

					{% endblock %}
        
	
				</div>
			</div>
		</div
	</div>
</div>
{% include 'home/footer.html'%}